body {
  background-color: purple;
}
.options > button {
  height: 7em;
  width: 7em;
  border-radius: 50%;
  margin: auto 1em;
  background-color: hsl(12, 88%, 84%);
  border: none;
}
.options {
  display: flex;
  width: 100%;
  justify-content: center;
}
#points {
  display: flex;
  justify-content: space-around;
  font-size: 50px;
  font-weight: bolder;
  margin: 1em auto;
}
button > figure > img {
  vertical-align: middle;
  height: 3em;
}
.pcOption {
  display: flex;
  justify-content: center;
  height: 250px;
  margin: 1em auto;
  width: 300px;
  padding: 1em;
  text-align: center;
  border: none;
  border-radius: 20px;
  font-weight: bolder;
  background-color: hsl(12, 88%, 84%);
}
.pcOption > figure > img {
  height: 200px;
  margin: 20px auto;
}
.green-text {
  color: green;
  background-color: hsl(51, 90%, 50%);
  padding: 10px;
}
h2 {
  font-size: 3em;
  font-weight: bold;
}
main,
.flow {
  display: flex;
  justify-content: space-around;
  background-color: antiquewhite;
  width: 80%;
  margin: auto;
  text-align: center;
}
main {
  height: 100vh;
  flex-flow: column;
}
header {
  font-size: 90px;
  font-weight: bolder;
  width: 100%;
  padding: 30px 0;
}
#restart {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  font-size: 5em;
  background-color: transparent;
}
#results {
  position: absolute;
  right: 1%;
  bottom: 0em;
  text-align: right;
  background-color: rgb(255, 239, 218);
  padding: 20px;
  border: 1px solid black;
  max-width: 15vw;
  max-height: 50vh;
  overflow: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
#results li {
  font-size: 2em;
}

@media only screen and (max-width: 1084px) {
  #results {
    visibility: hidden;
  }
}
.selected {
  background-color: hsl(120, 90%, 35%) !important;
  color: white;
}
